body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #a2a2a2, #000, #292929, #777, #000);
    background-size: 500% 100%;
    animation: gradiente-animado 2.3s infinite alternate;
}

@keyframes gradiente-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    padding-right: 29px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 1rem;
}